@model IEnumerable<WebApp_ebuilder.Models.attendance>

@{
    ViewBag.Title = "ViewAttendance";
}

<h2>ViewAttendance</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
